body { background: #2f3322; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 23px; display: flex; }
.block-uploader-0 { color: #7ca379; font-size: 12px; margin-bottom: 5px; }
.block-token-1 { color: #12e3ee; font-size: 17px; margin-bottom: 5px; }
.block-order-2 { color: #961745; font-size: 19px; margin-bottom: 5px; }
.block-filter-3 { color: #bb7795; font-size: 12px; margin-bottom: 5px; }
.block-payment-4 { color: #fc4312; font-size: 12px; margin-bottom: 5px; }